<div id="<%= dom_id model %>">
  <p>
    <strong>User:</strong>
    <%= model.User %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= model.email %>
  </p>

  <p>
    <strong>Nombre:</strong>
    <%= model.nombre %>
  </p>

  <p>
    <strong>Rol:</strong>
    <%= model.rol %>
  </p>

</div>
