<div id="<%= dom_id construction %>">
  <p>
    <strong>Name:</strong>
    <%= construction.name %>
  </p>

  <p>
    <strong>Initial date:</strong>
    <%= construction.initial_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= construction.end_date %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= construction.cost %>
  </p>

</div>
