<%= form_with(model: construction) do |form| %>
  <% if construction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(construction.errors.count, "error") %> prohibited this construction from being saved:</h2>

      <ul>
        <% construction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :initial_date, style: "display: block" %>
    <%= form.date_field :initial_date %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :cost, style: "display: block" %>
    <%= form.number_field :cost %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
